RIOT_API_KEY=
RIOT_PLATFORM=br1
POLL_CRON_EXPRESSION=*/5 * * * *
DAILY_SUMMARY_CRON_EXPRESSION=0 22 * * *
LEADERBOARD_CRON_EXPRESSION=0 20 * * *
LEADERBOARD_CHALLENGE_START=2026-08-18
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/perainda_tracker
DISCORD_BOT_TOKEN=
DISCORD_CHANNEL_ID=
